 <!-- Header -->
      <header id="site_header" class="header mobile-menu-hide">
        <div class="my-photo">
          <img src="images/faycel_bouamoud_developpeur_web_full_stack.jpg" alt="faycel bouamoud développeur / ingénieur web full stack">
          <div class="mask"></div>
        </div>

        <div class="site-title-block">
          <h1 class="site-title">Faycel BOUAMOUD</h1>
          <p class="site-description">Ingénieur / Développeur web fullstack</p>
        </div>

        <!-- Navigation & Social buttons -->
        <div class="site-nav">
          <!-- Main menu -->
          <ul id="nav" class="site-main-menu">
            <!-- About Me Subpage link -->
            {% if page == "home" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a class="pt-trigger" href="/" data-animation="58" data-goto="1">Accueil</a><!-- href value = data-id without # of .pt-page. Data-goto is the number of section -->
            </li>
            <!-- /About Me Subpage link -->
            <!-- About Me Subpage link -->
            {% if page == "me" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a class="pt-trigger" href="/a-propos-moi" data-animation="59" data-goto="2">Me connaître</a>
            </li>
            <!-- /About Me Subpage link -->
            {% if page == "resume" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a class="pt-trigger" href="/resume" data-animation="60" data-goto="3">Résumé</a>
            </li>
            {% if page == "portfolio" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a class="pt-trigger" href="/portfolio" data-animation="61" data-goto="4">Mes projets</a>
            </li>
            <!--
            {% if page == "blog" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a class="pt-trigger" href="/blog" data-animation="58" data-goto="5">Blog</a>
            </li>
            -->
            {% if page == "contact" %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a class="pt-trigger" href="/contact" data-animation="59" data-goto="6">Me contacter</a>
            </li>
          </ul>
          <!-- /Main menu -->

          <!-- Social buttons -->
          <ul class="social-links">
            <li><a class="tip social-button" href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li> <!-- Full list of social icons: http://fontawesome.io/icons/#brand -->
            <li><a class="tip social-button" href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a class="tip social-button" href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <!--<li><a class="tip social-button" href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>-->
            <!--<li><a class="tip social-button" href="#" title="last.fm"><i class="fa fa-lastfm"></i></a></li>-->
            <!--<li><a class="tip social-button" href="#" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>-->
          </ul>
          <!-- /Social buttons -->
        </div>
        <!-- Navigation & Social buttons -->
      </header>
      <!-- /Header -->

      <!-- Mobile Header -->
      <div class="mobile-header mobile-visible">
        <div class="mobile-logo-container">
          <div class="mobile-site-title">Faycel BOUAMOUD</div>
        </div>

        <a class="menu-toggle mobile-visible" onclick="toggleMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <!-- /Mobile Header -->
