<!DOCTYPE html>
<html lang="en" class="no-js">
  
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>{{ portfolio.meta.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="{{ portfolio.meta.description }}" />
    <meta name="keywords" content="{{ portfolio.meta.keywords }}" />
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/transition-animations.css" />
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92992662-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
  </head>

  <body>
    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div id="page" class="page">
      {% include './menu.twig' %}
      <!-- Main Content -->
      <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
          <!-- Subpages -->
          <div class="subpages">
            <!-- Portfolio Subpage -->
            <section class="pt-page pt-page-4" data-id="portfolio">
              <div class="section-title-block">
                <h2 class="section-title">Projets</h2>
                <h5 class="section-description">Mes projets</h5>
              </div>

              <!-- Portfolio Content -->
              <div class="portfolio-content">
                <!-- Portfolio Grid -->
                <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">
                {% for item in portfolio.projects %}
                    <!-- Portfolio Item 1 -->
                    <figure class="item" data-groups='["all", "media"]'>
                      <a class="ajax-page-load" onclick="ajaxLoader({{ item.id }})" href="portfolio/{{ item.id }}">
                        <img src="images/portfolio/{{ item.capture }}" alt="{{ item.name }}">
                        <div>
                          <h5 class="name">{{ item.name }}</h5>
                          <i class="fa fa-file-text-o"></i>
                        </div>
                      </a>
                    </figure>
                    <!-- /Portfolio Item 1 -->
                  {% endfor %}
                <!-- /Portfolio Grid -->
              </div>
              <!-- /Portfolio Content -->

            </section>
            <!-- /Portfolio Subpage -->
          </div>
        </div>
        <!-- /Page changer wrapper -->
      </div>
      <!-- /Main Content -->
    </div>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/page-transition.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/validator.js"></script>
    <script src="js/jquery.shuffle.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.hoverdir.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
