<!DOCTYPE html>
<html lang="en" class="no-js">
  
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>{{ resume.meta.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="{{ resume.meta.description }}" />
    <meta name="keywords" content="{{ resume.meta.keywords }}" />
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/transition-animations.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../../../../www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-92992662-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
  </head>

  <body>
    <!-- Loading animation -->
    <div class="preloader">
      <div class="preloader-animation">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>
    <!-- /Loading animation -->

    <div id="page" class="page">
      {% include './menu.twig' %}
      <!-- Main Content -->
      <div id="main" class="site-main">
        <!-- Page changer wrapper -->
        <div class="pt-wrapper">
          <!-- Subpages -->
          <div class="subpages">
            <!-- Resume Subpage -->
            <section class="pt-page pt-page-3" data-id="resume">
              <div class="section-title-block">
                <h2 class="section-title">Resume</h2>
                <h5 class="section-description">{{ resume.meta.title }}</h5>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-4 subpage-block">
                  <div class="block-title">
                    <h3>Education</h3>
                  </div>
                  <div class="timeline">
                  {% for item in resume.education %}
                    <!-- Single event -->
                    <div class="timeline-event te-primary">
                      <h5 class="event-date">{{ item.annee }}</h5>
                      <h4 class="event-name">{{ item.diplome }}</h4>
                      <span class="event-description">{{ item.institue }}</span>
                      <p>{{ item.details }}</p>
                    </div>
                  {% endfor %}
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 subpage-block">
                  <div class="block-title">
                    <h3>Experience</h3>
                  </div>
                  <div class="timeline">
                  {% for item in resume.stages %}
                    <!-- Single event -->
                    <div class="timeline-event te-primary">
                      <h5 class="event-date">{{ item.annee }}t</h5>
                      <h4 class="event-name">{{ item.poste }}</h4>
                      <span class="event-description">{{ item.entreprise }}</span>
                      <p>{{ item.details }}</p>
                    </div>
                  {% endfor %}
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 subpage-block">
                  <div class="block-title">
                    <h3>Compétences Professionnelles</h3>
                  </div>
                  <div class="skills-info">
                  {% for item in skills.professionalSkills %}
                    <h4>{{ item.skill }}</h4>                               
                    <div class="skill-container">
                      <div class="skill-percentage skill-1"></div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="block-title">
                    <h3>Logiciels</h3>
                  </div>
                  <div class="skills-info">
                  {% for item in skills.softwareSkills %}
                    <h4>{{ item.skill }}</h4>                               
                    <div class="skill-container">
                      <div class="skill-percentage skill-1"></div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="block-title">
                    <h3>Langages</h3>
                  </div>
                  <div class="skills-info">
                  {% for item in skills.codeSkills %}
                    <h4>{{ item.skill }}</h4>                               
                    <div class="skill-container">
                      <div class="skill-percentage skill-1"></div>
                    </div>
                    {% endfor %}
                  </div>
                  <div class="block-title">
                    <h3>Base de données et Outils de développement</h3>
                  </div>
                  <div class="skills-info">
                  {% for item in skills.dbToolsSkills %}
                    <h4>{{ item.skill }}</h4>                               
                    <div class="skill-container">
                      <div class="skill-percentage skill-1"></div>
                    </div>
                    {% endfor %}
                  </div>
                  
                </div>
               
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="download-cv-block">
                    <a class="button" target="_blank" href="#">Download CV</a>
                  </div>
                </div>
              </div>
            </section>
            <!-- End Resume Subpage -->
          </div>
        </div>
        <!-- /Page changer wrapper -->
      </div>
      <!-- /Main Content -->
    </div>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/page-transition.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/validator.js"></script>
    <script src="js/jquery.shuffle.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.hoverdir.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
